//=================== display flex==================
@mixin d-flex($justifyContent,$alignItems,$flDirection) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction:$flDirection;
   }